*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}

/* body{
    display: flex;
} */

.background{
    width: 100vw;
    height: 100vh;
    background: url('./images/background-img.png') no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
}

.bird{
  height: 100px;
  width: 130px;
  position: absolute;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.pipes{
    position:absolute;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background:radial-gradient(lightgreen 50%, green);
    border: 5px solid black;
}

.msg {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}



.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}



.score{
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 8vh;
    font-weight: 100;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    top: 0;
    left: 0;
    margin: 10px;
}

.current_Score{
    columns: gold;
    font-weight: bold;
}

@media only screen and (max-width: 1080px) {
    .msg{
		font-size: 50px;
		top: 30%;
		white-space: nowrap;
	}
	.score{
		font-size: 6vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipes{
		width: 14vw;
	}
}
